:root {
  --box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  --accent-color-luminosity: 40%;
  --accent-color: 150 78% var(--accent-color-luminosity);
  --primary-color: hsl(0 0% 0% / 85%);
  --sidebar-width: 180px;
  --ui-inset: 15px;
}

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

input {
  --accent-color-luminosity: 90%;
  accent-color: hsl(var(--accent-color));
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
}

input[type=color] {
  cursor: pointer;
  height: 20px;
  width: 35px;
  
  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  &::-webkit-color-swatch {
    border-radius: 5px;
    border: 1px solid hsl(0 0% 100% / 30%);
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.button {
  border-radius: 3px;
  padding: 5px;
}

.button:hover {
  background: hsl(0 0% 100% / 25%);
}

.button.light {
  color: hsl(0 0% 90%);
}

.button.selected {
  background: hsl(0 0% 100% / 90%);
  color: hsl(0 0% 0%);
}

.button.inverse {
  background: var(--primary-color);
  color: hsl(0 0% 100%);
}

.button.inverse:hover {
  background: hsl(0 0% 0%);
}

.button.accent {
  background: hsl(var(--accent-color));
}

.button.accent:hover {
  --accent-color-luminosity: 55%;
}

.App {
  height: 100vh;
  width: 100vw;
}

.artboard {
  left: 0;
  position: fixed;
  height: 100vh;
  top: 0;
  touch-action: none;
  width: 100vw;
}

.artboard.with-grid {
  background-size: 20px 20px;
  background-image:
    linear-gradient(to right, #0002 1px, transparent 1px),
    linear-gradient(to bottom, #0002 1px, transparent 1px);
}

.artboard.tool {
  cursor: crosshair;
}

.artboard.is-dragging {
  cursor: move;
}

.artboard:not(.tool-select) .vector {
  pointer-events: none;
}

.navbar {
  align-items: center;
  display: flex;
  gap: 15px;
  left: var(--ui-inset);
  position: fixed;
  top: var(--ui-inset);
  z-index: 2;
}

.toolbar {
  align-items: center;
  display: flex;
  gap: 10px;
}

.toolbar-main {
  background: var(--primary-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}

.toolbar-done.button {
  box-shadow: var(--box-shadow);
  padding: 8px 12px;
}

.range {
  width: 80px;
}

.selectable .vector:not(.grabbable) {
  pointer-events: none;
}

.grabbable:not(.vector) {
  fill: transparent;
  stroke: transparent;
  stroke-opacity: 0.2;
}

.grabbable:hover {
  cursor: move;
}

.grabbable:hover, .grabbable.active {
  stroke: blue;
}

.point-handler {
  fill: blue;
  fill-opacity: .8;
  stroke-width: 1;
  stroke: blue;
  r: 4;
}

.left-top,
.right-bottom {
  cursor: nwse-resize;
}

.right-top,
.left-bottom {
  cursor: nesw-resize;
}

.selection-wrapper {
  pointer-events: none;
}

.sidebar {
  background: var(--primary-color);
  backdrop-filter: blur(2px);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  color: hsl(0 0% 95%);
  font-size: 14px;
  padding: 15px 15px 20px;
  position: fixed;
  right: var(--ui-inset);
  top: var(--ui-inset);
  width: var(--sidebar-width);
  z-index: 2;
}

.sidebar-close {
  padding: 3px 5px;
  position: fixed;
  right: calc(var(--ui-inset) + 5px);
  top: calc(var(--ui-inset) + 5px);
  z-index: 3;

  &.is-closed {
    right: var(--ui-inset);
    top: var(--ui-inset);
  }
}

.grid-toggle {
  align-items: center;
  display: flex;
  gap: 10px;
}

.attribute-section + .attribute-section {
  padding-top: 15px;
  margin-top: 15px;
}

.attribute-section-title {
  color: hsl(0 0% 95%);
  font-size: .75rem;
  letter-spacing: 1px;
  margin: 0 0 .75rem;
  text-transform: uppercase;
}

.attribute {
  align-items: center;
  color:hsl(0 0% 60%);
  display: flex;
  gap: 10px;
  margin-top: 10px;

  &.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  label {
    flex-basis: 32%;
    font-size: .75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  small {
    margin-left: auto;
  }
}

.mini-field {
  align-items: center;
  background-color: hsl(0 0% 100% / 25%);
  border-radius: 5px;
  color: hsl(0 0% 25%);
  display: flex;
  gap: 4px;
  padding: 5px 10px 5px 5px;
}

.mini-field:hover {
  background-color: hsl(0 0% 100% / 50%);
}

.mini-field:focus-within {
  background-color: hsl(0 0% 100% / 75%);
}

.mini-field input {
  appearance: none;
  background: none;
  color: hsl(0 0% 0%);
  flex: 1;
  width: 100%;
}