:root {
  --secondary-bg: hsl(0 0% 0% / 15%);
}

body {
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.artboard {
  left: 0;
  position: fixed;
  height: 100vh;
  top: 0;
  width: 100vw;
}

.artboard.with-grid {
  background-size: 20px 20px;
  background-image:
    linear-gradient(to right, #0002 1px, transparent 1px),
    linear-gradient(to bottom, #0002 1px, transparent 1px);
}

.artboard.tool {
  cursor: crosshair;
}

.artboard.is-dragging {
  cursor: move;
}

.navbar {
  align-items: center;
  display: flex;
  gap: 15px;
  left: 15px;
  position: fixed;
  top: 15px;
  z-index: 2;
}

.toolbar {
  background: hsl(0 0% 0% / 75%);
  border-radius: 5px;
  display: flex;
  gap: 10px;
  padding: 5px 10px;
}

.toolbar .button {
  color: #fff;
}

.button {
  border-radius: 2px;
  padding: 2px 5px;
}

.button:hover {
  background: hsl(0 0% 100% / 25%);
}

.button.selected {
  background: hsl(0 0% 100% / 90%);
  color: hsl(0 0% 0%);
}

.color-picker, .stroke-picker {
  background: var(--secondary-bg);
  backdrop-filter: blur(1px);
  display: flex;
}

.color-picker {
  gap: 0.4rem;
}

.color {
  background: var(--color);
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.stroke {
  background: black;
  border-radius: 50%;
  height: calc(var(--stroke-width) * 2px);
  width: calc(var(--stroke-width) * 2px);
}

.selectable .vector:not(.grabbable) {
  pointer-events: none;
}

.selectable {
  border: 3px solid red;
  fill: red;
}

.grabbable:not(.vector) {
  fill: none;
  stroke: transparent;
  stroke-opacity: 0.2;
}

.grabbable:hover {
  cursor: move;
}

.grabbable:hover, .grabbable.active {
  stroke: blue;
}

.point-handler {
  fill: blue;
  fill-opacity: .8;
  stroke-width: 1;
  stroke: blue;
  r: 4;
}

.left-top,
.right-bottom {
  cursor: nwse-resize;
}

.right-top,
.left-bottom {
  cursor: nesw-resize;
}

.selection-wrapper {
  pointer-events: none;
}

.sidebar {
  background: var(--secondary-bg);
  backdrop-filter: blur(2px);
  border-radius: 5px;
  bottom: 15px;
  padding: 15px;
  position: fixed;
  right: 15px;
  top: 15px;
  width: 25vw;
}